{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BriteCore Test</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gijgo.css'%}"/>
    
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vue.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/axios.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/gijgo.js'%}"></script>
</head>

<body>
    <script type="text/javascript">
        const global = {
            url_riskinstance: "{% url 'url_riskinstance' %}",
            url_risktype: "{% url 'url_risktype' %}",
            url_risktypes: "{% url 'url_risktypes' %}",
        }
    </script>    
    
    <div class="container">
        
        {% block header %}{% include "components/header.html" %}{% endblock %}
        
		<main>
		       {% block content %}
		       {% endblock %}
		</main>
    </div>
    
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/vue_components/date_widget.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/vue_components/field_widget.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/app.js'%}"></script>    
    {% endif %}
</body>

</html>