{% extends 'base.html' %}

{% block content %}

	    <div id="app">
	        <div class="row">
	            <div class="col left-dash">
	                <p> Create a new <b>Risk Form</b> Form from one of the following <b>Risk Types</b>: </p>
	                <ul>
	                   <li v-for="rt in risktypes" class="btn_container">
	                       <button class="btn btn-primary" v-on:click="on_click_risktype(rt.id)"> [[rt.name]] </button>
	                   </li>
	                </ul>
	            </div>
	            <div class="col right-dash">
	               <p> Or select one of the following <b>Risk Forms</b>: </p>
						<div class="ri_list">
							<div v-for="ri in riskinstances" class="list-group">
								<a v-bind:id="'ri-' + ri.id" href="#" class="list-group-item list-group-item-action ri-link"
								   v-on:click="on_click_riskinstance(ri.id)"
								   onclick="$('.ri-link').removeClass('active');"> [[ri.title]]</a>
							</div>
						</div>
	            </div>
	        </div>
	        <div class="row" v-if="riskinstance">
	            <div class="col risk_form">
	                <h2>Risk Form of type: [[riskinstance.type.name]]</h2>
	                <div class="field">
		                <span class="field_title">Title</span>
		                <input class="form-control" v-bind:name="riskinstance.title" 
		                       type="text" v-model:value="riskinstance.title"/>
                    </div>
                    <hr>
	                <form id='policy_form'>
	                    <field_widget v-bind:columns="riskinstance.columns"
	                                  v-bind:errors="errors"></field_widget>
	                </form>
	                <hr>             
                    <div class="btn_panel">
	                    <div>
                            <button class="btn btn-info" v-on:click="on_cancel()"> Cancel </button>
		                    <button class="btn btn-info" v-on:click="on_save(riskinstance)"> Save </button>
		                </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    
{% endblock %}


    
