{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BriteCore Test</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css'%}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gijgo.css'%}"></link>
    
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vue.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/axios.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/gijgo.js'%}"></script>
</head>

<body>
    <script type="text/javascript">
        const global = {
            url_risktype: "{% url 'url_risktype' %}",
            url_risktypes: "{% url 'url_risktypes' %}"            
        }
    </script>    

    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <h1> Welcome to the BriteCore Insurance Test Project! </h1>
		        <p> Create a new <b>Policy</b> Form from one of the following <b>Risk Types</b>: </p>
	            <ul>
		           <li v-for="rt in risktypes" class="btn_container">
		               <button class="btn btn-primary" v-on:click="on_click(rt.id)"> [[ rt.name ]] </button>
		           </li>
		        </ul>
            </div>
        </div>
        <div class="row" v-if="risktype">
            <div class="col">
	            <h2>Policy of risk type: [[risktype.name]]</h2>
	            
	            <form id='policy_form' >
	                <field_widget v-bind:fields="risktype.fields"></field_widget>
	            </form>
	            
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="{% static 'js/app.js'%}"></script>    
</body>

</html>